{{> header }}
{{!--
<div class="container-fluid">
    <div class="row" id="endpoints">
        {{> sidebar }}
        {{!> page }}
    </div>
</div>
--}}
{{> sidebar }}
{{> content }}
{{!> page }}
{{> feedback }}
