<div class="modal">
    <div class="modal__content">
        <div class="modal__content-header">
            What's New
        </div>
        <div class="modal__content-body">
            <h2>Version 0.5.0</h2>
            <br>
            <ul style="list-style-type: square; padding-left: 25px">
                <li>Switch to Dark Theme (the Light one will be available in upcoming releases)</li>
                <li>The new card for Endpoint</li>
                <li>Updated fuzzy search with bangs like <em>!model</em> or <em>!endpoint</em> to reduce scope</li>
                <li>JavaDoc descriptions support (for methods, params, classes and fields)</li>
                <li>Has got rid of Bootstrap Framework. Now it's lighter, faster and much simpler</li>
                <li>New Header Menu with shortcuts to issues, sources and docs</li>
                <li>Fixes for the introspection of core jdk classes like <em>Enum</em> and <em>Class</em></li>
                <li>and performance optimizations in introspection</li>
            </ul>
            <br>
            <h3>Thanks &#x1F495;</h3>
            <p>
                <em><a href="https://bitbucket.org/GeraHerbst/" target="_blank">Darya Herasimovich</a></em>
                for design and product vision.
                We haven't done much cool features in this release but we return to them in the future!
            </p>
            <p>
                <em><a href="https://github.com/elipskiy" target="_blank">Egor Lipskiy</a></em>
                for js/html magic in severe backend environment.
                It was hard and curious!
            </p>
        </div>
    </div>
</div>