### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/
out/

### Gradle ###
# Exclude Folder List
.gradle/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Ignore Gradle tasklist
.gradletasknamecache

### Java ###
*.class

# Package Files
*.jar
*.war
*.ear

### Deploy ###
rebel.xml

### Docs ###
/wiki

### Exclusions ###
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!*gradle-wrapper.jar
