<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Apiator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css"> ${css} </style>
    <script type="text/javascript"> ${js} </script>
    ${hbs}
    <script type="text/x-handlebars-template" id="template">
        ${template}
    </script>
</head>
<body>
<div id="doc-container"></div>
</body>
<style type="text/css">
    ${css}
    ${cssLocal}
</style>
<script type="text/javascript">
    var apiJson = ${json};
    ${jsLocal}
</script>

<script>
    if (apiJson.apiatorInfo.version == 'UNPACKED') {
        document.write('<script src="'
                + 'http://localhost:35729/livereload.js"></'
                + 'script>')
    }
</script>
</html>