body {
    overflow-x: hidden;
}

.target-marker {
    position: relative;
    border-top: 52px solid transparent;
    margin: -40px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.fixed {
    position: fixed;
}

.complementary {}

#sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    width: 24%;
}


/* all links */

.complementary .nav > li > a {
    color: #999;
    border-left: 3px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}


/* nested links */

.complementary .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}


/* active & hover links */

.complementary .nav > .active > a,
.complementary .nav > li > a:hover,
.complementary .nav > li > a:focus {
    color: #61AF61;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #61AF61;
}


/* all active links */

.complementary .nav > .active > a,
.complementary .nav > .active:hover > a,
.complementary .nav > .active:focus > a {
    font-weight: 700;
}


/* nested active links */

.complementary .nav .nav > .active > a,
.complementary .nav .nav > .active:hover > a,
.complementary .nav .nav > .active:focus > a {
    font-weight: 500;
}


/* hide inactive nested list */

.complementary .nav ul.nav {
    display: none;
}


/* show active nested list */

.complementary .nav > .active > ul.nav {
    display: block;
}