<div class="target-marker" data-id="{{getIdForTargetMarkerOfModel type}}"></div>
<div class="panel panel_enum enum">
    <div class="panel__header">
        <span class="panel__header-name">{{getAfterLastDot type}}</span>
        <span class="panel__header-share copy-btn" data-clipboard-text="{{getAbsoluteLinkToType type}}">Copy link</span>
    </div>
    <div class="panel__content">
        <div class="panel__content-title">Values</div>

        <div class="panel__content-content">
            <table class="table">
                <tbody>
                {{#each values}}
                    <tr>
                        <td>{{this}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>